<div class="login-wrapper">
    <div class="login-image">
        <img class="login-side-image" ngSrc="../../../assets/login-image.jpg" priority width="4000" height="6000"/>
    </div>
    <div class="login-form-wrapper">
        <div class="logo">
            <img class="logo-image" ngSrc="../../../assets/thatsanorder-black.png" priority width="500" height="336"/> <!-- placeholder -->
        </div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <h1 class="login-header">Login</h1>
                <mat-form-field class="login-username" appearance="outline" >
                    <mat-label>Username</mat-label>
                    <input matInput name="username" type="text" placeholder="Enter username" formControlName="username" required>
                </mat-form-field>
                <mat-form-field class="login-password" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password" placeholder="Enter password" formControlName="password" required>
                </mat-form-field>
                <button class="login-button" mat-flat-button color="primary">Login</button>
            </form>
            <div class="create-account-wrapper">
                <nav class="create-account-text">
                    Don't have an account?
                    <a class="create-account-link" routerLink="/register">Create one!</a>
                </nav>
            </div>

        </div>
    </div>
</div>

