# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
dist
.temp
tmp
/out-tsc
/bazel-out
/build

# Dependencies
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/.nyc_output
/libpeerconnection.log
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
testem.log
/typings
logs
*.log


# System Files
.DS_Store
Thumbs.db

.nx/cache
.angular

# Dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json